@{
    ViewBag.Title = "ContactUs";
}
<div id="angularize" ng-controller="emailController">
   

    <div class="panel panel-info panel-default">
        <div class="panel-heading panelBg"><h4 style="color:white;">Contact Us</h4></div>
        <div class="panel-body ">
        
            <div class="well col-md-8">
                <div class="row">
                    <div class="form-group col-md-10 has-warning">
                        <div class="input-group">

                            <input id="FullName" type="text" value="" ng-model="Customer.FullName" class="form-control" placeholder="Enter Your Name" required />
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-10 has-warning">
                        <div class="input-group">
                            <textarea id="FullName" ng-model="Customer.Question" class="form-control" placeholder="Enter Your Question Here?" required></textarea>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-10 has-warning">
                        <div class="input-group">
                            <input id="Captcha" type="text" ng-model="Customer.Captcha" class="form-control" placeholder="Enter Text You see below" required />
                            <br />
                            <img src="~/Images/captcha1.jpg" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group  col-md-8">
                        <button class="btn btn-warning" class="form-control" ng-click="SendMessage();"><span class="glyphicon glyphicon-user"></span> Send Message</button>


                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <script src="//platform.linkedin.com/in.js" type="text/javascript">
                    lang: en_US
                </script>
                <script type="IN/Share" data-url="http://www.heartbeat-biz.com" data-counter="top">
                </script>
                <script src="https://apis.google.com/js/platform.js"></script>

                <div id="fb-root"></div>
                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                <div class="fb-share-button" data-href="http://www.heartbeat-biz.com" data-width="34"></div>

            </div>
        </div>

    </div>
