@{
    ViewBag.Title = "Goals";
}


<div class="col-md-12">
    <div class="panel panel-info panel-default">
        <div class="panel-heading panelBg"><h4 style="color:white;">Goals</h4></div>
        <div class="panel-body ">
            <h3 class="lead">HBS Vision</h3>
            <div class="well lead">

               
                At HBS it is our goal to provide premier information technology solutions that enable our Clients to add real economic value to their business by providing Integrated Cost effective business solutions. We work with our clients to understand their business challenges, propose solutions, and support them in their most strategic endeavors. With this vision in mind, we have built and nurtured a culture centered around our most important asset – the customer. Other companies may speak about customer care, but we live it.
            </div>
            <h4 class="lead">HBS Value Based Proposition</h4>
            <ul class="list-group text-default">
                <li class="list-group-item">HBS is a true technology solutions and integration partner. </li>
                <li class="list-group-item">
                    We work closely with our clients to understand their unique goals, needs and challenges,
                    and then design and deploy innovative and cost-effective solutions that help them improve all aspects of their business.
                </li>
                <li class="list-group-item">
                    We specialize in providing services that include Custom Application Solutions, Database Solutions, Web Site Development and Web Site & Email Hosting.
                    </li>
                <li class="list-group-item">
                    We cater to businesses of all needs and sizes and have an exceptional reputation for doing whatever it takes to make our clients thrive.
                </li> 
                </ul>
                    
            <h4 class="lead">Following are the key principles we abide by:</h4>
            <ul class="list-group text-default">
                <li class="list-group-item"> Superior Customer Experience. Customer success is our highest priority.</li>
                <li class="list-group-item">
                    Consultative Approach. We are not looking to sell something and walk away. We take pride in understanding your business challenges and driving to the right technology solution to meet your needs.
                </li> 
                <li class="list-group-item">
                    Fair Price. We provide affordable technology solutions that reduce cost and drive efficiency gains.
                </li>
                <li class="list-group-item">
                    Comprehensive Solutions. Many vendors can only supply one facet of your technology requirements. As your trusted partner, HBS can provide both breadth (Application Services, IT Services and Managed Services) of offerings and depth of expertise to deliver real business value.
                </li>
                <li class="list-group-item">
                    Culture of Execution. To each engagement, HBS brings four core principles of its culture: Superior Customer Care, Complex Problem Solving, Hard Work, and Honesty. These principles drive a culture of execution that leads to success with each of our clients.
                </li>
                      </ul>

        </div>
</div>
</div>