

@{
    ViewBag.Title = "Login";
}


   <div ng-controller="SchedulingController">
    <h2> {{page}}</h2>
   </div>
    <div class="row" >

      <div class="col-md-8">
         <a href="#" class="btn btn-large btn-success">Scheduling</a>
  </div>    
      


}