@{
    ViewBag.Title = "Products";
}


<div class="col-md-12">

    <div class="panel panel-info panel-default">
        <div class="panel-heading panelBg"><h4 style="color:white;">Products</h4></div>
        <div class="panel-body ">
            <h1>HBS Timesheet Solution:</h1>
            <div class="well lead">

               
                Are you still using the old Time Clock System and spending hundreds of dollars every month on supplies. Countless hours from your accountant and manual corrections on time card are NO fun at all.

                Here we introduce online tracking solution that can provide instant reporting, overtime management, salary calculation, hassle free real-time tracking of working hours and all it can be accessed from your website 24/7.
            </div>
                <p class="lead"> Why HBS Timesheet Solution?</p>

                <ul class="list-group text-default">
                    <li class="list-group-item ">Easy access for employee to clock in and clock out and view all their timesheets and income records</li>
                    <li class="list-group-item">
                        Automated salary calculations – No need to manually calculate the working hours
                    </li>
                    <li class="list-group-item">
                        Real-time management reporting
                    </li>
                    <li class="list-group-item">
                        Archive of payroll records
                    </li>
                    <li class="list-group-item"> For a free quote please call us at (347)815-7HBS</li>
                </ul>
                <h1>HBS scheduling solution</h1>
            <div class="well lead">

                <p>
                    If you are still using an Excel spreadsheet or a Notebook to book appointments for your customer and spending hours reconciling the information then you are missing out a great opportunity. In our opinion, you should be focusing on your most important asset and that is your customer and leaves the scheduling headaches for us.
                </p>
                </div>
                <p class="lead"> How HBS Scheduling Solution bring efficiency gains to your business operations?</p>
            <ul class="list-group text-default">
                <li class="list-group-item  ">
                    Complete record of your customer base with sales history
                </li>
                <li class="list-group-item">
                    Assist in booking appointment for your customer by considering at the schedule of the service provider.
                </li>
                <li class="list-group-item">
                    Reminders of upcoming appointments and key events
                </li>
                <li class="list-group-item">
                    Dashboard and Management reporting
                </li>
                <li class="list-group-item">  For a free quote please call us at (347)815-7HBS</li>

            </ul>


            </div>
</div>
</div>