@{
    ViewBag.Title = "Services";
}


<div class="col-md-12">
    <div class="panel panel-info panel-default">
        <div class="panel-heading panelBg"><h4 style="color:white;">Services</h4></div>
        <div class="panel-body ">
            <div class="well">

                <p class="lead">Don’t hesitate to contact us if need assistance in any of the following:</p>
                <ul class="list-group text-primary" >
                    <li class="list-group-item"> Enterprise Resource Planning (ERP)</li> 
                    <li class="list-group-item">
                        Customer Registration Solutions
                    </li>
                    <li class="list-group-item">
                        Supply Change Management Portals
                    </li>
                    <li class="list-group-item">
                        Web Designing Services
                    </li>
                    <li class="list-group-item">
                        Mobile App Development
                    </li>
                    <li class="list-group-item">
                        Software Testing and enhancements
                    </li>
                    <li class="list-group-item">
                        Database Design and SQL Server Reporting Services
                    </li>
                    <li class="list-group-item">
                        IT Consulting Services
                    </li>
                    <li class="list-group-item">
                        Business Automation Solutions
                    </li>

                   
</ul>
                <a href="@Url.Content("~/Home/ContactUs")" class="btn btn-large btn-warning">Contact Us </a>
            </div>


            
           
        </div>
</div>
</div>