@{
    ViewBag.Title = "Team";
}


<h2>Team </h2>
<div class="row">
    
        <div class="col-md-12 ">
            <div  id="accordian" class="panel-group">

                <div class="panel panel-info">
                    <div class="panel-heading panelBg">
                        <div class="panel-title"><a href="#adnan" data-toggle="collapse" data-parent="#accordian">Muhammad Adnan (CFO)</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="adnan">
                        <div class="panel-body">


                            <div class="well">
                                <table class="table" style="width:100%">
                                    <tr>
                                        <td>
                                            <img src="~/Content/images/adnan.jpg" class="img-responsive thumbnail" />
                                        </td>
                                        <td>
                                            As Chief Financial Officer, Muhammad is responsible to manage all the financial matters of the company. He holds 14 years of rich experience in renowned multinational companies in senior management roles. Prior to joining HBS he was working as Financial Controller in Eltek Pakistan (A Norwegian company that specializes in power solutions). Adnan has completed his MBA and MS from Pakistan. 


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="pk.linkedin.com/pub/muhammad-adnan/13/74b/22a/">Linkedin</a><br />
                                       
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                          
                                            Email : <a href="mailto:adnan@heartbeat-biz.com">adnan@heartbeat-biz.com</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                   <div  class="panel panel-info">
                       <div class="panel-heading panelBg">
                           <div class="panel-title" ><a href="#naveed" data-toggle="collapse" data-parent="#accordian">Naveed Aziz (Lead System Engineer)</a></div>
                       </div>
                       <div class="panel-collapse collapse" id="naveed">
                           <div class="panel-body">

                               
                               <div class="well">
                                   <table class="table">
                                   <tr>
                                       <td><img    src="~/Content/images/naveed.jpg"  class="img-responsive thumbnail"/>
                               </td>
                                       <td>As Lead System Engineer, Naveed is responsible to transpose the business requirements into system design and layout a foundation. He started working at Trizetto Group in 2008 as data analyst and quickly moved up to Scrum Master and mentor one of the Product teams in Trizetto under Trizetto Medicare Solutions Group.
Naveed have eight plus years of experience in system QA, Agile Methodologies , Scrum, SDLC, Requirement Analysis, Microsoft SQL Server and Web Services. He have earned Bachelor’s degree in Information Technology from Baruch college.


</td>
                                     </tr>  
                                       <tr><td><a href="www.linkedin.com/pub/naveed-aziz/36/530/66a">Linkedin</a><br />
Email : Naveed@heartbeat-biz.com </td></tr>
                                       </table>
                                       </div>
                            </div>

                       </div>
                   </div>


                    <div  class="panel panel-info ">
                        <div class="panel-heading panelBg">
                            <div class="panel-title"><a href="#umais" data-toggle="collapse" data-parent="#accordian">Umais Siddiqui (Lead Software Architect)</a></div>
                        </div>
                       <div class="panel-collapse collapse" id="umais">
                           <div class="panel-body">
                               <div class="well">
                                   <table>
                                       <tr>
                                           <td><img src="~/content/Images/umais.jpg"  /></td>
                                           <td style="padding-left:20px;">
                                               As Lead Software Architect, Umais manage several projects at HBS and overseas design and architect aspects. Currently he is also working at a publishing house as digital asset management administrator and work on custom development requests from the business.  Previously, he worked for a leading health care firm, Trizetto Group, where he have played a major role in creating architectural patterns, designing and programming critical features in the Medicare products by applying the best practices and software development principles that best fit the business model.

                                               Umais have eight plus years of experience in software development and has expertise in C#, ASP.NET, WCF,XML, Javascripting, AJAX,SQL Server, MVC, HTML 5.

                                               <br />
                                               <a href="www.linkedin.com/in/umaiss" target="_blank">Linkin Profile</a>
                                              <br /> Email :<a href="mailto:Umais@heartbeat-biz.com">Umais@heartbeat-biz.com</a>
                                           </td>
                                       </tr>
                                   </table>
                               </div>
                            </div>

                       </div>
                   </div>

                    <div  class="panel panel-info">
                        <div class="panel-heading panelBg">
                            <div class="panel-title"><a href="#saqib" data-toggle="collapse" data-parent="#accordian">Saqib Siddiqui (Lead Software Developer)</a></div>
                        </div>
                       <div class="panel-collapse collapse" id="saqib">
                           <div class="panel-body">
                               <div class="well">
                                   <table>
                                       <tr>
                                           <td><img src="~/Content/Images/saqib.jpg" class="img-responsive thumbnail" /></td>
                                           <td style="padding-left:20px;">
                                               As Lead Software Developer, Saqib is responsible for developing and designing all our projects and solutions at HBS. He started his career as web developer in 2005 and quickly moved up to a senior level software developer for a prestigious IT company.

                                               Saqib have nine plus years of experience in software developments and has expertise in LINQ, JQuery, ASP.NET, Microsoft SQL Server, Entity framework and .NET. He completed his bachelors from Queens College in computer sciences.
                                               <br />
                                               www.linkedin.com/in/najamsaqib
                                               <br /> Email :
                                               <a href="mailto:saqib@heartbeat-biz.com">Saqib@heartbeat-biz.com</a>
                                           </td>
                                       </tr>
                                   </table>
</div>
                            </div>

                       </div>
                   </div>

                <div class="panel panel-info">
                    <div class="panel-heading panelBg">
                        <div class="panel-title"><a href="#raheel" data-toggle="collapse" data-parent="#accordian">Raheel Siddiqui (Relationship Manager and Project Manager)</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="raheel">
                        <div class="panel-body">
                            <div class="well">
                                <table>
                                    <tr>
                                        <td><img src="~/Content/images/raheel.jpg" class="img-responsive thumbnail" /></td>
                                        <td style="padding-left:20px;">
                                            As Relationship Manager and Project Manager, Raheel is responsible for business developments and overseas the project life cycle. He started his career as Relationship Manager for a saving bank and moved up to Senior KYC (Know Your Customer) Specialist for a fortune 500 company, Nordea Bank. In his current capacity at Nordea Bank, he is responsible for overseeing several compliance projects and provide project reporting to senior management.

                                            He have eight plus years of experience in corporate world and has strong presentation and leadership skills. Have intense knowledge on bank regulatory requirements and Anti Money Laundering. He have expertise in due diligence process , MS Suits , financial analysis Microsoft Project. He completed his Bachelor’s degree from York College in Business Administration and Management and earned MBA from Long Island University in Finance. He is Certified Anti Money Laundering Specialist (CAMS) and also earned Six Sigma – Green belt certification.
                                            <br />
                                            www.linkedin.com/pub/raheel-siddiqui/6/52/19b/
                                            <br /> Email :<a href="mailto:raheel@heartbeat-biz.com"> raheel@heartbeat-biz.com</a>
</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="panel panel-info">
                    <div class="panel-heading panelBg">
                        <div class="panel-title"><a href="#tayyib" data-toggle="collapse" data-parent="#accordian">Tayyib Siddiqui (Relationship Manager)</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="tayyib">
                        <div class="panel-body">
                            <div class="well">
                                  <table>
                                    <tr>
                                        <td><img src="~/Content/images/tayyib.jpg" class="img-responsive thumbnail" /></td>
                            <td style="padding-left:20px;">
                                As Relationship Manager , Tayyib is responsible to maintaining customer
                                relationship and business development. His product knowledge and business skills are well suited with the operations of HBS. He started his career as Application Analyst in 2010 and currently working as Technical consultant / Account Representative at Nexelus. In his current role at Nexelus , he provide implementation and other technical services to clients and assist them during deployments.

                                He have eight plus years of experience in maintaining customer relationship and has expertise in SQL Server , Data Analysis, Application Support, ERP systems , customer support and financial accounting. He have completed his Bachelor’s degree from Karachi University in Accounting and obtained his MBA from ZABIST in Accounting and Finance.
                                <br />
                                www.linkedin.com/in/tayyibsiddiqui
                                Email : Tayyib@heartbeat-biz.com
                                </td>
                            </tr>
                            </table>
</div>
                        </div>

                    </div>
                </div>


                <div class="panel panel-info">
                    <div class="panel-heading panelBg">
                        <div class="panel-title"><a href="#amir" data-toggle="collapse" data-parent="#accordian">Amir Saleem (Lead Software Engineer)</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="amir">
                        <div class="panel-body">
                            <div class="well">
                                As Lead Software Engineer, Amir manages database and software design and transpose business requirements into HBS platforms. He started his career as Programmer in 2007 and moved up to Software Engineer at Trizetto Groups.

                                Amir have seven plus years of experience as programmer and has expertise in ASP.Net, .NET, Microsoft SQL Server, C#, MVC and Stored Procedures.

                                www. www.linkedin.com/pub/amir-saleem/1a/537/83b
                                Email : Amir@heartbeat-biz.com

                            </div>
                        </div>

                    </div>
                </div>

                </div>

    </div>

    </div>
