@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-md-12"><h2>Contact Us</h2></div>
 

</div>

<div class="row">
    <div class="col-md-12">

        <div class="well">If you have any questions do not hesitate to email us at info@heartbeat-biz.com
        
        
        
        </div>
    </div>


</div>