@{
    ViewBag.Title = "Professional";
}

<div ng-controller="ProfessionalController">

<div id="dashboard">

        <div class="panel panel-primary">
            <div class="panel-heading panelBg ">Professional Panel Under construction</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="#frmAdd" class="btn btn-warning" data-toggle="modal"><span class="glyphicon glyphicon-plus-sign"></span>Add New Professional</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">

                        <div class="form-group has-warning">
                            <input class="form-control " ng-model="SearchParam" placeholder="Search By First Name, Last Name or check what is it??????" />

                        </div>
                    </div>

                    <div class="col-md-5">

                        <div class="form-group">
                            <button class="btn btn-warning" ng-click="ProfessionalSearch();"><span class="glyphicon glyphicon-search "></span></button>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 gridStyle" id="CustomerGrid" ng-grid="GridOptions"></div>

                </div>

            </div>
        </div>
    </div>

        


     <div class="modal fade " tabindex="-1" id="frmAdd">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header ">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4 class="text-warning">Add Professioanl</h4>

                    </div>
                
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group col-md-5 has-warning">
                            <div class="input-group">
                                <input type="hidden" id="user" ng-model="Professional.CreatedBy" value="@ViewBag.userid" />
                                <input type="hidden" id="company" ng-model="Professional.CompanyId" value="@ViewBag.companyid" />
                                <input id="FirstName" type="text" value="" ng-model="Professional.FirstName" class="form-control" placeholder="First Name" />
                                <label>{{Professional|json}}</label>
                            </div>
                        </div>
                        </div>

                       <div class="row">
                         <div class="form-group col-md-6 has-warning">
                            <input id="LastName" type="text" value="" ng-model="Professional.LastName" class="form-control" placeholder="Last Name" />
                        </div>
                           </div>
                 

                    <div class="row">
                        <div class="form-group col-md-5 has-warning">
                           

                                <input id="ProfessionalIdentificationNumber" type="text" value="" ng-model="Professional.ProfessionalIdentificationNumber" class="form-control" placeholder="Professional ID #" />
                           
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-5 has-warning">
                      

                                <input id="Phone" type="text" value="" ng-model="Professional.Phone" class="form-control" placeholder="Phone" />
                          
                        </div>

                    </div>
                    </div>
                   

                      
                    <div class="modal-footer">
                        <div class="form-group  col-md-8">
                            <button class="btn btn-warning" class="form-control" ng-click="AddProfessional();"><span class="glyphicon glyphicon-user"></span>Save</button>
                            <a href="#" id="dismiss" class="btn btn-warning" data-dismiss="modal">Cancel</a>
                            <input class="btn btn-warning" type="button" value="Clear" ng-click="clearProfessional();" />

                        </div>
                    </div>
               
            </div>


        </div>

       </div>
</div>

    


      

