@{
    ViewBag.Title = "WorkflowAdmin";
}

<div class="panel panel-primary">
    <div class="panel-heading panelBg ">Workflow Queue Maintenance</div>
    <div class="panel-body">
        <div id="workflowAdminGrid"></div>
    </div>
</div>