@{
    ViewBag.Title = "Workflow";
}

<div class="panel panel-primary">
    <div class="panel-heading panelBg ">Business Process Management</div>
    <div class="panel-body">
        <div id="grid"></div>
    </div>
</div>